@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

body {
  background-color: #8174A0;
  width: 100%;
}

/*NAVEGADOR*/
nav {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav  div {
  display: flex;
  gap: 0.6em;
}
ul {
  list-style-type:none;
  overflow: hidden;
}
li a{
  border-radius: 1em;
  display: block;
  text-decoration: none;
  color: black;
}
li:hover {
  background-color: #534b67;
}

nav li, nav span {
  padding: 0.7em;
  background-color: #c0b3de;
  border-radius: 1em;
}

nav span > input {
  font-size: 1em;
  background-color: transparent;
  border: none;
}
nav i {
  font-size: 2em;
  color:#c0b3de;
}
nav span i {
  font-size: 1em;
  color: black;
}
/*SECCIÓN HERO ASIDE*/
section {
  display: flex;
  width: 100%;
}

/* Modelo Grande (Para monitores) */
@media (min-width: 1024px){

  /*Bordes de pagina web*/
  .borde {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  /*Estructura del Nav*/
  .Estructura-nav {
    display: flex;
  }

  .nav-logo {
    height: 3em; /* Ajusta la altura según sea necesario */
    margin-right: 0.5em; /* Espacio entre la imagen y los enlaces */
    border-radius: 1em; /* Bordes curvados para que coincida con los enlaces */
    background-color: rgb(94, 87, 109, 70%); /* Fondo para que coincida con los enlaces */
    padding: 0.2em; /* Espacio alrededor de la imagen */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra para que coincida con los enlaces */
  }

  .nav1{
    align-items: center;
  }

  .nav1 a{
    text-align: center; /* Alinea el texto al centro */
  }


  .nav2{
    justify-content: flex-end;
  }

  .hero {
    height: 30em;
  }
  
  /* Clasificación por edades */
  
  .plus_12 h3{
    background-color: #00bcd4 !important; /* Aqua un poco más oscuro */
    color: #000;
    border-radius: 0.5em; /* Bordes curvados */
    padding: 0.2em 0.5em; /* Espacio alrededor del texto */
    display: inline-block; /* Para que el fondo se ajuste al texto */
    font-size: clamp(14px, 2vw, 20px); /* Texto responsive */
  }
  
  .plus_18 h3{
    background-color: #ff0000 !important; /* Rojo */
    color: #000;
    border-radius: 0.5em; /* Bordes curvados */
    padding: 0.2em 0.5em; /* Espacio alrededor del texto */
    display: inline-block; /* Para que el fondo se ajuste al texto */
    font-size: clamp(14px, 2vw, 20px); /* Texto responsive */
  }
  
   /* Puntaje en estrellas */
  .puntaje {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: rgb(129, 116, 160, 70%);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }
  
  .puntaje-bordes {
    padding-top: 1em;
  }
  
  /* Categorias */
  
  .categoria {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: rgb(129, 116, 160, 70%);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }
  
  .categoria-bordes {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    gap: 1em; /* Aumenta el espacio entre los elementos */
    padding-top: 1em;
    width: 25em;
  }
  
  /* Contenedor del carrusel */
  .carrusel-contenedor {
    width: 100%;
    height: 60vh; /* Altura del carrusel (ajusta según tus necesidades) */
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
  }

  .carrusel {
    display: flex;
    position: relative;
    width: 100%; /* Ajusta según el número de elementos */
    height: 100%;
    animation: slide 20s infinite; /* Duración de la animación */
  }

  .carrusel-objeto {
    flex: 0 0 100%; /* Ajusta para mostrar un elemento a la vez */
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    position: relative;
    background-color: #c0b3de;
  }
  
  .carrusel-objeto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .carrusel-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0));
    color: white;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .carrusel-texto h2 {
    margin: 0;
    font-size: clamp(20px, 5vw, 36px); /* Texto responsive */
  }
  
  .carrusel-texto p {
    padding-bottom: 1em;
    margin: 0.5em 0 0;
    font-size: clamp(14px, 3vw, 18px); /* Texto responsive */
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    text-align: left;
    width: 100%; 
    max-width: 50%; /* Ajusta el ancho máximo del párrafo */
  }

/* Animación del carrusel */
@keyframes slide {
  0% { transform: translateX(0%); }
  25% { transform: translateX(0%); }
  33.33% { transform: translateX(-100%); }
  58.33% { transform: translateX(-100%); }
  66.66% { transform: translateX(-200%); }
  91.66% { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}
  

  /* Sección de tarjetas */
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgb(192, 179, 222);
  }

  .expositor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    justify-content: center;
  }
  
  /* Estilos para las tarjetas */
  .tarjeta {
    width: 13em;
    background: #333;
    color: white;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .tarjeta img {
    width: 100%;
    height: 20em;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
  }
  
  .tarjeta h3 {
    margin: 0.5em 0;
    font-size: 18px;
  }
  
  .tarjeta:hover {
    transform: scale(1.05); /* Efecto de hover */
  }

}

/* Modelo Mediano (Para tablets en horizontal) */
@media (max-width: 1024px){

}

/* Modelo Normal (Para tablets en vertical) */
@media (max-width: 768px){

  /*Bordes de pagina web*/
  .borde {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  /*Estructura del Nav*/
  .Estructura-nav {
    display: flex;
  }

  .nav-logo {
    height: 3em; /* Ajusta la altura según sea necesario */
    margin-right: 0.5em; /* Espacio entre la imagen y los enlaces */
    border-radius: 1em; /* Bordes curvados para que coincida con los enlaces */
    background-color: rgb(94, 87, 109, 70%); /* Fondo para que coincida con los enlaces */
    padding: 0.2em; /* Espacio alrededor de la imagen */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra para que coincida con los enlaces */
  }

  .nav1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #8174A0;
    z-index: 1000; /* Asegura que el nav1 esté por encima de otros elementos */
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
  }

  .nav1 a{
    text-align: center; /* Alinea el texto al centro */
  }


  .nav2 {
    justify-content: flex-start;
  }

  .nav2 div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .hero {
    height: 30em;
  }
  
  /* Clasificación por edades */
  
  .plus_12 h3{
    background-color: #00bcd4 !important; /* Aqua un poco más oscuro */
    color: #000;
    border-radius: 0.5em; /* Bordes curvados */
    padding: 0.2em 0.5em; /* Espacio alrededor del texto */
    display: inline-block; /* Para que el fondo se ajuste al texto */
    font-size: clamp(14px, 2vw, 20px); /* Texto responsive */
  }
  
  .plus_18 h3{
    background-color: #ff0000 !important; /* Rojo */
    color: #000;
    border-radius: 0.5em; /* Bordes curvados */
    padding: 0.2em 0.5em; /* Espacio alrededor del texto */
    display: inline-block; /* Para que el fondo se ajuste al texto */
    font-size: clamp(14px, 2vw, 20px); /* Texto responsive */
  }
  
   /* Puntaje en estrellas */
  .puntaje {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: rgb(129, 116, 160, 70%);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }
  
  .puntaje-bordes {
    padding-top: 1em;
  }
  
  /* Categorias */
  
  .categoria {
    display: flex;
    width: 7em;
    height: 1.5em;
    background-color: rgb(129, 116, 160, 70%);
    justify-content: space-around;
    border-radius: 1em;
    align-items: center;
  }
  
  .categoria-bordes {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    gap: 1em; /* Aumenta el espacio entre los elementos */
    padding-top: 1em;
    width: 25em;
  }
  
  /* Contenedor del carrusel */
  .carrusel-contenedor {
    width: 100%;
    height: 60vh; /* Altura del carrusel (ajusta según tus necesidades) */
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
  }

  .carrusel {
    display: flex;
    position: relative;
    width: 100%; /* Ajusta según el número de elementos */
    height: 100%;
    animation: slide 20s infinite; /* Duración de la animación */
  }

  .carrusel-objeto {
    flex: 0 0 100%; /* Ajusta para mostrar un elemento a la vez */
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    position: relative;
    background-color: #c0b3de;
  }
  
  .carrusel-objeto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .carrusel-texto {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 8), rgba(0, 0, 0, 0));
    color: white;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .carrusel-texto h2 {
    margin: 0;
    font-size: clamp(20px, 5vw, 36px); /* Texto responsive */
  }
  
  .carrusel-texto p {
    padding-bottom: 1em;
    margin: 0.5em 0 0;
    font-size: clamp(14px, 3vw, 18px); /* Texto responsive */
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    text-align: left;
    width: 100%; 
    max-width: 50%; /* Ajusta el ancho máximo del párrafo */
  }

/* Animación del carrusel */
@keyframes slide {
  0% { transform: translateX(0%); }
  25% { transform: translateX(0%); }
  33.33% { transform: translateX(-100%); }
  58.33% { transform: translateX(-100%); }
  66.66% { transform: translateX(-200%); }
  91.66% { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}
  

  /* Sección de tarjetas */
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgb(192, 179, 222);
    padding-bottom: 5em;
  }

  .expositor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    justify-content: center;
  }
  
  /* Estilos para las tarjetas */
  .tarjeta {
    width: 13em;
    background: #333;
    color: white;
    border-radius: 1em;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .tarjeta img {
    width: 100%;
    height: 20em;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
  }
  
  .tarjeta h3 {
    margin: 0.5em 0;
    font-size: 18px;
  }
  
  .tarjeta:hover {
    transform: scale(1.05); /* Efecto de hover */
  }

}

/* Modelo Compacto (Para moviles) */
@media (max-width: 480px) {

  .borde {
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
  }

  nav {
    padding: 1em;
  }

}